@page {
  size: A4;
  margin: 0cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

@page :first {
  margin-top: 0cm !important;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    background: white !important;
  }

  .resume-wrapper {
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ededed !important;
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
}

em {
  font-weight: 500;
  color: #333399;
}

.resume-wrapper {
  position: relative;
  width: 960px;
  margin: 30px auto 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

.resume-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  inset: 0px;
  background-image: url(../header-gradient.svg);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 1400px;
  opacity: 0.3;
}

/** Header **/
header {
  position: relative;
  width: 100%;
  padding: 48px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

header .header-inner {
  display: flex;
}

/* Avatar */
header .avatar-wrapper {
  width: 192px;
  padding-right: 16px;
  text-align: right;
  box-sizing: border-box;
}

.avatar-wrapper .avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

.avatar img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  object-fit: cover;
}

/* Profile */
header .profile-wrapper {
  flex: 1;
  padding-left: 24px;
  box-sizing: border-box;
}

.profile-wrapper h1 {
  margin-left: -2px;
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: bold;
}

.profile-wrapper summary {
  font-size: 14px;
  color: #555;
}

.profile-wrapper p {
  margin-top: 16px;
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.4;
}

.profile-wrapper .social-links {
  margin-top: 16px;
}

.social-links ul {
  font-size: 12px;
}

.social-links ul li {
  margin-bottom: 12px;
}

.social-links ul li:last-of-type {
  margin-bottom: 0;
}

.social-links a {
  display: inline-block;
  margin-left: 4px;
  color: #333;
  text-decoration: none;
}

.social-links a::before {
  content: "";
  display: inline-block;
  margin-right: 2px;
}

/** Content **/
main {
  position: relative;
  width: 720px;
  margin-left: 240px;
  padding-top: 16px;
  border-left: 1px solid #ededed;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 24px;
  border-bottom: 1px solid #ededed;
  break-after: auto;
}

section h2 {
  width: 120px;
  position: absolute;
  top: 24px;
  right: 750px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

section .content {
  position: relative;
  break-inside: avoid;
}

section .content:not(:first-of-type) {
  margin-top: 40px;
}

section .content:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 40px;
  height: 1px;
  background: #ededed;
  break-inside: avoid;
}

.content .subject {
  margin-bottom: 16px;
}

.subject h3 {
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
}

.subject a {
  color: inherit;
  text-decoration: none;
}

.subject summary {
  font-size: 12px;
  color: #777;
}

.subject summary a {
  color: #777;
  text-decoration: none;
}

.subject .duration {
  position: absolute;
  top: 2px;
  right: 16px;
  font-size: 14px;
  color: #777;
}

.content p {
  width: 560px;
  line-height: 1.4;
  word-break: keep-all;
}

.content ul, .content ol {
  width: 560px;
  padding-left: 18px;
  line-height: 1.2;
}

.content ul li {
  list-style-type: disc;
  margin-top: 4px;
  word-break: keep-all;
}

.content ol li {
  list-style-type: decimal;
  margin-top: 4px;
  word-break: keep-all;
}

.content ul li a, .content ol li a {
  margin-top: 4px;
  color: #333399;
  text-decoration: none;
  font-size: 14px;
}

.content h4 {
  font-weight: bold;
  margin-bottom: 8px;
}

.content h4:not(:first-of-type) {
  margin-top: 24px;
}

.content .tags {
  display: flex;
  flex-wrap: wrap;
}

.tags span {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  padding: 4px 8px;
  font-size: 12px;
  color: #333399;
  background: #f5f5f5;
  border-radius: 4px;
}

/** Footer **/